*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
#container{
    background-color: rgb(204, 176, 176);
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#container img{
    width: 30px;
    height: 30px;
}

.dog{
    background-color: rgb(255, 255, 255,0.3);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 75px;
    gap: 10px;
}

.big-container{
    text-align: center;
}
.big-container img{
    width: 200px;
}

h1{
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid rgb(128, 128, 128) ;
    padding: 20px;
    background-color: rgb(211, 211, 211);
    color: rgb(91, 54, 0);
}